@import "./variables.scss";
@import "./mixin.scss";

.complaint{
    border: 1px solid $border;
    border-radius: 0.4rem;
    box-shadow: 0.7px 0.7px 4px 0 $border;
    width: 55%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    cursor: pointer;

    .fa-comment-alt{
        color: red;
        margin-right: .6rem;
    }
    p{
        color: red;
        font-size: .8rem;
        font-weight: 600;
        &:hover{
            text-decoration: underline;
        }
    }
}